# .NET build folders
**/bin/
**/obj/

# Visual Studio files
QuestApi/.vs/
QuestApi/.vs/QuestApi/v17/.suo
QuestApi/.vs/QuestApi/v17/DocumentLayout.json

*.user
*.userosscache
*.sln.docstates

# Node.js dependencies
**/node_modules/

