.navbar {
    color: white;
    box-shadow: 0 2px 4px rgba(253, 253, 253, 0.1);
}

.navbar .nav-link {
    text-decoration: none !important;
}

.navbar .nav-link:hover {
    text-decoration: none;
}

.navbar .nav-link .fa-bars {
    color: white;
    transition: color 0.3s;
}

.navbar .nav-link:hover .fa-bars {
    color: #38bdf8;
}

.container-fluid {
    padding-left: 8rem;
    padding-right: 3rem;
    padding-top: 0rem;
    padding-bottom: 0;
}