<nav *ngIf="isLoggedIn$ | async as isLoggedIn" class="navbar navbar-expand-sm"
    style="background-color: #0F172A; min-height: 66px;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color: white; font-size: 1.5rem;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/matches" routerLinkActive="active">
                        Matches
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/playlist" routerLinkActive="active">
                        My Playlist
                    </a>
                </li>
            </ul>

            <ul *ngIf="isLoggedIn$ | async as isLoggedIn" class="navbar-nav ms-2">
                <li class="nav-item d-flex align-items-center">
                    <span class="text-white me-3">Hello, {{userName}}</span>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-bars" style="font-size: 1.5rem;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" (click)="logout()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>