<nav class="navbar navbar-expand-lg" style="background-color: #0F172A; min-height: 64px;">
    <div class="container-fluid px-5">
        <a class="navbar-brand text-white" href="#">Quest Home Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">My Playlist </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-bars" style="font-size: 1.5rem;"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li *ngIf="!isLoggedIn"><a class="dropdown-item" href="#">Login</a></li>
                        <li *ngIf="isLoggedIn"><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>