<section class="browse-matches py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Browse Matches</h2>

            <div class="position-relative search-container mx-4">
                <input type="text" class="form-control search-input" placeholder="Search matches..."
                    [(ngModel)]="searchTerm" (keyup.enter)="getMatches(searchTerm)">
                <i (click)="getMatches(searchTerm)" class="fas fa-search search-icon"></i>
            </div>

            <div class="filter-group">
                <button type="button" (click)="setFilter(0)" [class.active]="status === 0">All Matches</button>
                <button type="button" (click)="setFilter(1)" [class.active]="status === 1">Live</button>
                <button type="button" (click)="setFilter(2)" [class.active]="status === 2">Replays</button>
            </div>
        </div>

        <div class="row g-3 ">
            <div class="col-12 col-sm-6 col-lg-4" *ngFor="let match of filteredMatches">
                <app-match-card [match]="{
                    matchId: match.matchId,
                    title: match.title,
                    competition: match.competition,
                    date: match.date,
                    status: match.status,
                  }"></app-match-card>
            </div>
        </div>
    </div>
</section>